@media screen and (max-width: 760px){
   header{
   text-align: center;
    flex-direction: column;
   }
   main{
    max-width: 400px;
    flex-direction: column;
   }
   img{
    display: none;
   }
    h2{
        font-size: 28px;
   }
   p{
    width: 300px;
   }
   aside{
    
   }
}